body{
    font-family: 'Montserrat';
}
#title{
    background-color:#ff4c68;
    padding-bottom: 0%;
    
}

h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
}

.container-fluid{
    padding: 3% 15% 7%;
}

.navbar{
    padding: 0 0 2.5rem;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Ubuntu';
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-weight: normal;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    margin-top: 3%;
    margin-left: 5%;
}

#features{
    padding: 7% 10%;
    font-weight: bolder;
    background-color: #fff;
    position: relative;
}

.feature-box{
    text-align: center;
    padding: 0 5%;
    line-height: 2rem;
}


h3{
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 23px;
}

p{
    color: #afafaf;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #f0082a;
}

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-text{
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 2rem;
    line-height: 1.5;
    padding: 0 15%;
}

.testimonial-image{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-image{
    width: 15%;
    margin: 20px 15px 50px;
}

#pricing{
    padding: 90px;
    text-align: center;
}

.pricing-heading{
    font-weight: 900;
}

@media (max-width:990px){
    .title-image{
        position: static;
        transform: rotate(0);
    }

    #title{
        text-align: center;
    }
}

.col-lg-4{
    padding-bottom: 5%;
}

#cta{
    padding: 7%;
    background: #ff4c68;
    text-align: center;

}

.cta-head{
    font-size: 2.5rem;
    color: #fff;
}

#footer{
    padding: 2%;
    background-color: #fff;
    text-align: center;
}

.footer-cell{
    padding: 0 40%;
    margin-bottom: 10px;
}
